{% extends "layout/base.html" %}
{% block title %} feedbackpulse | Dashboard {% endblock %}

{% block content %}
<div class="backdrop-blur-xl font-sans flex flex-col gap-6 justify-center items-center md:p-6 md:py-8 p-4 py-8 rounded-xl shadow-[rgba(255,255,255,0.5)_0_0_20px_0] z-10 border-2 border-white/40 md:w-[80%] w-[95%]">
    <h1 class="md:text-5xl text-4xl font-extrabold text-white mb-5">
        Dashboard
    </h1>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-4 border-b-2 pb-4 w-full">
        <div class="flex justify-center text-center md:w-auto w-full">
            <img src="{{ url_for('static', filename='icons/github.svg') }}" class="h-9 rounded-full shadow-[rgba(255,255,255,0.5)_0_0_20px_0] bg-black" alt="GitHub Avatar" />
            <h2 class="ml-3 text-white text-2xl">Username</h2>
        </div>
        <button class="text-white md:w-auto w-full py-2 text-center rounded-md border-2 border-red-500/60 bg-red-500/20">Apply for projects</button>
        <button class="text-white md:w-auto w-full py-2 text-center rounded-md border-2 border-red-500/60 bg-red-500/20">Verify yourself</button>
    </div>
</div>
{% endblock%}