{% extends "layout/base.html" %}
{% block title %} feedbackpulse | Home {% endblock %}

{% block content %}
    <div class="backdrop-blur-xl flex flex-col gap-6 justify-center items-center md:p-6 md:py-8 p-4 py-8 rounded-xl md:w-[450px] w-[320px] z-10 border-2 border-white/40">
        <h1 class="md:text-5xl text-4xl font-sans font-extrabold text-white mb-5">
            feedbackpulse
        </h1>
        <p class="w-full md:text-md font-sans text-center text-white p-2 rounded-md border-2 border-white/40">
            Join
            <a target="_blank" href="https://team.shiksha/" class="underline italic underline-offset-4 font-sembold">
                Team.shiksha
            </a>
            projects, request feedback, provide reviews, and gain insights — all in one place.
        </p>
        <a class="text-center py-2 w-full justify-center flex gap-4 items-center text-bold text-white transition duration-500 delay-200 hover:shadow-[rgba(255,255,255,0.5)_0_0_12px_0] rounded-md border-2 border-white/40"
           href="/home">
            <img src="{{ url_for('static', filename='icons/github.svg') }}" class="h-7 animate-bounce" alt="GitHub Icon" />
            <span class="font-extrabold text-lg">Sign In with GitHub</span>
        </a>
        <p class="text-white text-center text-sm mt-5">
            Built by
            <a class="underline italic underline-offset-4" href="https://team.shiksha/" target="_blank">
                Team.shiksha
            </a>. Source code available
            <a class="underline italic underline-offset-4" href="https://github.com/TeamShiksha/feedbackpulse" target="_blank">
                here
            </a>.
        </p>
    </div>
{% endblock%}